<ion-header >
  <ion-toolbar color="primary">
    <ion-title color="light" class="ion-text-center">
      <h1><b>CRUD Productos</b></h1>
    </ion-title>
  </ion-toolbar>
</ion-header><br><br>

<ion-row>
  <ion-col class="ion-text-center">
    <ion-label color="primary"><b>Ingrese Nombre del Producto</b></ion-label>
    <ion-item class="ion-text-center">
      <ion-input type="text" hidden [(ngModel)]="idProducto"></ion-input>
      <ion-input type="text" [(ngModel)]="nombreProducto"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col class="ion-text-center">
    <ion-label color="primary"><b>Ingrese el Id Categoria</b></ion-label>
    <ion-item class="ion-text-center">
      <ion-input type="text" [(ngModel)]="idCategoria"></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
<ion-list class="ion-text-center ion-margin-bottom">
  <ion-row>
    <ion-col>
      <ion-button *ngIf="!swGuardarCambios" (click)="addProducto()">Agregar Carrito</ion-button>
      <ion-button *ngIf="swGuardarCambios" color="warning" (click)="guardarCambios()">Guardar Cambios</ion-button>
    </ion-col>
  </ion-row>
</ion-list>

<h1 class="ion-text-center"><b>PRODUCTOS REGISTRADOS</b></h1><br>
<ion-content>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col size="4" *ngFor="let item of listProducto">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <ion-card-title><b>Id Producto: </b>{{item.id}}</ion-card-title>
            <ion-card-title><b>Producto: </b>{{item.nombre}}</ion-card-title>
            <ion-card-title><b>Categoria: </b>{{item.categoria.nombre}}</ion-card-title>
          </ion-card-header>
          <ion-button size="small" color="warning" (click)="updateProducto(item)" fill="clear">Editar</ion-button>
          <ion-button size="small" color="danger" (click)="deleteProducto(item)" fill="clear">Eliminar</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- <ion-content padding>
  <ion-item>
      <ion-input type="text" hidden [(ngModel)]="idProducto"></ion-input>
      <ion-input type="text" placeholder="Ingrese Nombre" [(ngModel)]="nombreProducto"></ion-input>
      <ion-input type="text" placeholder="Ingrese ID Categoria" [(ngModel)]="idCategoria"></ion-input>
      <div class="item-note" item-end>
          <ion-button *ngIf="!swGuardarCambios" (click)="addProducto()">Agregar Producto</ion-button>
          <ion-button *ngIf="swGuardarCambios" color="warning" (click)="guardarCambios()">Guardar Cambios</ion-button>
      </div>
  </ion-item>
  <div padding>
      <ion-list>
          <ion-item *ngFor="let item of listProducto">
              {{item.nombre}}
              ({{item.categoria.nombre}})
              <div class="item-note" slot="end">
                  <ion-button color="warning" (click)="updateProducto(item)">Editar</ion-button>
                  <ion-button color="danger" (click)="deleteProducto(item)">Eliminar</ion-button>
              </div>
          </ion-item>
      </ion-list>
  </div>
</ion-content> -->